{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "rules": {
    "no-use-before-define": [
      2,
      {
        "functions": false
      }
    ],
    "comma-dangle": ["error", "never"],

    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 100
      }
    ],

    "react/prop-types": 0,

    "global-require": 0,

    "no-underscore-dangle": 0,

    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],

    "max-len": [2, 100, 4],

    "import/prefer-default-export": 0,

    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }]
  },
  "plugins": ["prettier"]
}
