body{
  background-color: #ffffff;
}

.logo{
  margin-top: 10px;
}

.description {
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 1em;
  text-align:  center;
  color: #444444;
  font-weight: 400;
  font-size:12px;
  margin-top:8px;
  margin-left:30px;
  margin-right:30px;
}

.title {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 16px;
}
