@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

.switch-style {
  margin: 0px;
}

.switch-style span {
  outline: none !important;
}

.bp3-card {
  padding: 0px;
}
