
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
}
